*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spotify-main{
  background: linear-gradient(transparent,rgba(0,0,0,1));
  background-color: rgb(32,87,100);

}
.list{
  display: grid;
  grid-template-columns: 0.3fr 3fr 2fr 0.1fr;
  
}
.rows{
  display: grid;
  grid-template-columns: 0.3fr 3fr 2fr 0.1fr;
  
}

.play{
  color: #b3b3b3;
  transition: 0.3s ease-in-out;
  
  
}
.play:hover{
  color: white;
  
}
.foot{
  grid-template-columns: 1.3fr 2fr 1fr;
  border-top: 1px solid #282828;
}
.next,.prev,.state{
  font-size: 2rem;
}


